body {
	background: url('images/forbidden_city.jpg') no-repeat center center fixed;
	background-size: cover;
	/*background: #CCFFFF*/;
	/*background: url('images/217_622085842909_7038_n.jpg') no-repeat center center fixed;*/
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: blue;
}

li {
	list-style-type: none;
}

#top {
	font-family: "Helvetica Neue";
/*	border: 2px black solid;*/
	width: 300px;
	height: 30px;
	color: black;
	margin: 0 auto;
	padding: 5px;
	float: clear;
	z-index: 1;
	text-align: center;
	border-radius: 5px;
	margin-bottom: 5px;
	vertical-align: middle;
	line-height: 30px;
}

div div {
	display: inline-block;
	margin-left: 15px;
}



.left {
	width: 19%;
	height: 400px;
	float: left;
	/*border: 2px black solid;*/
	border-radius: 5px;
	font-family: "Helvetica Neue";
	padding: 1%;
}

.right {
	font-family: "Helvetica Neue";
	font-size: 14px;
	width: 75%;
	height: 400px;
	/*border: 2px black solid;*/
	color: black;
	border-radius: 5px;
	position: relative;
	float: right;
	padding: 1%;
}

#buttons {
	/*border: 2px black solid;*/
	margin: 0 auto;
	text-align: center;
}
.cf {
    clear: both;
}
