body {
	background: url('images/forbidden_city.jpg') no-repeat center center fixed;
	background-size: cover;
	/*background: url('images/217_622085842909_7038_n.jpg') no-repeat center center fixed;*/
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: blue;
}

li {
    list-style-type: none;
}

header {
    text-align: center;
    margin: 0 auto;
    width: 75%;
    padding: 0 1%;
    background: rgba(0, 0, 0, .33);
    border-radius: 5px;
}

nav ul li {
    list-style-type: none;
    display:inline-block;
    margin: 0 50px;
    font-family: Lucida grande;
    vertical-align: middle;
    line-height: 30px;
    color: whitesmoke;

}

/*.left {
	width: 19%;
	height: 400px;
	float: left;
	border: 2px black solid;
	border-radius: 5px;
	font-family: "Helvetica Neue";
	padding: 1%;
}*/

.right {
	/*border: 2px black solid;*/
    font-family: lucida grande;
	font-size: 14px;
	width: 75%;
	height: 350px;
	color: black;
	border-radius: 5px;
	padding: 1%;
	text-align: center;
    background: rgba(0, 0, 0, .33);
    color: whitesmoke;
    margin: 0 auto;
    /*position: relative;*/
    /*float: right;*/
}

#buttons {
	/*border: 2px black solid;*/
	margin: 0 auto;
	text-align: center;
}

#japanese {
    /*border: 2px black solid;*/
    margin: 0, auto;
    color: white;
    text-align: center;
}
/*.cf {
    clear: both;
}*/
